includes:
  - vendor/mglaman/phpstan-drupal/extension.neon
  - vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
  level: 5
  paths:
    - web/modules/custom/slack_portal/src
    - web/modules/custom/slack_portal/tests/src
  drupal:
    drupal_root: web
  ignoreErrors: []
  excludePaths:
    - web/modules/custom/slack_portal/tests/fixtures/*
